<!DOCTYPE html>
<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Devs/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'Devs/style1.css' %}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<head>
<title>Home</title>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'Devs:home' %}" ><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>   FOOD-DONATION-FORUM </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="{% url 'Devs:home' %}" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Home <span class="sr-only"></span></a></li>
      <li><a href="{% url 'Devs:posts' %}"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>   Feed <span class="sr-only"></span></a></li>
      <li><a href="{% url 'Devs:postcreate' %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>   Post Up</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>     Community <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'Devs:volunters' %}">Volunters</a></li>
          <li><a href="{% url 'Devs:trusts' %}">Trusts</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'Devs:register' %}">Join Community</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'Devs:trustsadd' %}">List up your Trust</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>   About <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">About us</a></li>
          <li><a href="{% url 'Devs:developers' %}">Team</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profile <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'Devs:register' %}">Register</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</head>
<body background="background.jpg">


    </div>
    <div class="wrap">
      <div class="box box1 shadow1">
        <h3>No act of kindness,
          no matter how small,
           is ever wasted.
        Volunter Yourself! and be a part of our community</h3>
        <div class="btn-group">
          <a href="{% url 'Devs:register'%}">
            <button class="btn btn-success dropdown-toggle"  >Volunteer Up</button>
          </a>
        </div>
      </div>
      <div class="box box2 shadow2">
        <h3>Any Food about to get wasted in your locality?Why not Donate instead!</h3>
        <div class="btn-group">
          <a href="{% url 'Devs:postcreate'%}">
            <button class="btn btn-success dropdown-toggle"  >Donate</button>
          </a>
        </div>
      </div>
      <div class="box box3 shadow3">
        <h3>Do you know about any group who is looking for donations?Tell us about them here!</h3>
        <div class="btn-group">
          <a href="{% url 'Devs:trustsadd'%}">
            <button class="btn btn-success dropdown-toggle"  >Tell us Here</button>
          </a>
        </div>
      </div>

    </div>


</body>
</html>
