{% extends 'Devs/base.html' %}
{% block body %}

<center>
<form  role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
    <div class="form-group">
        <div>
        <label  >{{ field.label_tag }}</label>
        <label >{{ field }}</label>
      </div>
    </div>

{% endfor %}

                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" >Login</button>
                            </div>

</form>
  </center>
{% endblock %}
