{% extends 'base.html' %}
{% block body %}


<ul>
  {% for trusts in all_trusts %}
<div class="card">

  <h1>{{trusts.name}}</h1>
  <p class="title">{{trusts.contact_num}}</p>
  <p>Contact Number {{trusts.Street_Addresss}}</p>
  <p>locality: {{trusts.Locality}}</p>
  <div style="margin: 46px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
 </div>

</div>
{% endfor %}
</ul>{% endblock %}
