{% extends 'base.html' %}
{% block body %}
<form  role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
    <div class="form-group">


        <textarea class="form-control" rows="5">{{ field }}</textarea>
    </div>
{% endfor %}

<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-log-in"></span>   Comment</button>
</div>


</form>
{% endblock %}
