{% extends 'base.html' %}
  {% block body %}
<form  role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
    <div class="form-group">

        <label >{{ field.label_tag }}</label>
        <div class="input-group ">{{ field }}</div>
    </div>
{% endfor %}

<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-log-in"></span>   Post it!</button>
</div>


</form>

{% endblock %}
